In [1]:
import pandas as pd
import numpy as np

In [6]:
dates = pd.date_range("01/01/2022", periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01 -0.982599 -0.288413 -0.113266 -1.806053
2022-01-02 -0.038076  0.301779  2.377670  0.044940
2022-01-03 -0.605902  1.173088 -0.946655  0.966166
2022-01-04 -0.755945  1.200576  0.722877 -0.352618
2022-01-05 -0.138335 -0.792490  1.148262 -0.373931
2022-01-06 -0.662410 -0.230907  0.571046  0.374023

In [13]:
df2 = pd.DataFrame({"A": 1.,
                    "B": pd.Timestamp("20230102"),
                    "C": pd.Series(1, index=list(range(4)), dtype = "float32"),
                    "D": np.array([3]*4, dtype="int32"),
                    "E": pd.Categorical(["test", "train", "test", "train",]),
                    "F": "foo"})
df2

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object